<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Osherove.KeyJedi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Osherove.ShortWatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Osherove.KeyJedi.Properties.Settings>
            <setting name="ListFont" serializeAs="String">
                <value>Tahoma, 18pt, style=Bold</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="VisualStudioOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MouselessModeKey" serializeAs="String">
                <value>Ctrl+Shift+Alt+F12</value>
            </setting>
            <setting name="ShowTabs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowEnter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPageUpDown" serializeAs="String">
                <value>False</value>
            </setting>
        </Osherove.KeyJedi.Properties.Settings>
        <Osherove.ShortWatch.Properties.Settings>
            <setting name="ListFont" serializeAs="String">
                <value>Tahoma, 18pt, style=Bold</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="VisualStudioOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MouselessModeKey" serializeAs="String">
                <value>Ctrl+Shift+Alt+F12</value>
            </setting>
        </Osherove.ShortWatch.Properties.Settings>
    </applicationSettings>
</configuration>