<?xml version="1.0"?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
                type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Jedi.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Jedi.Properties.Settings>
   <setting name="VisualStudioOnly" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowTabs" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowPageUpDown" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowEnter" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Opacity" serializeAs="String">
    <value>0.5</value>
   </setting>
   <setting name="MouselessModeKey" serializeAs="String">
    <value>Ctrl+Shift+Alt+F12</value>
   </setting>
   <setting name="ForeColor" serializeAs="String">
    <value>WindowText</value>
   </setting>
   <setting name="BackColor" serializeAs="String">
    <value>Window</value>
   </setting>
   <setting name="ListFont" serializeAs="String">
    <value>Tahoma, 18pt, style=Bold</value>
   </setting>
  </Jedi.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>